/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* Dashboard.css */
.dashboard {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #4CAF50;
  padding: 10px;
  color: white;
  text-align: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
}

.plant-overview {
  width: 25%;
  padding: 20px;
  background-color: #f8f8f8;
}

.plant-overview ul {
  list-style: none;
  padding: 0;
}

.add-plant {
  margin-top: 10px;
  padding: 5px;
}

.plant-details {
  width: 75%;
  padding: 20px;
}

.image-upload input {
  display: block;
  margin: 10px 0;
}

.health-status, .metrics, .alerts {
  margin: 20px 0;
}

.status {
  font-weight: bold;
  color: green;
}
